* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fdf0e3;
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 12px;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,
nav a {
  display: block;
}

a {
  padding: 5px;
  text-decoration: none;
  color: initial;
}

a:hover {
  background-color: #fde2e7;
}

a[target="_blank"] {
  display: inline-block;
}

a[target="_blank"]:hover {
  background-color: #e2fdf0;
}

section {
  margin: 45px 0 60px 0;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icon > img {
  max-width: 100%;
}

.author-info {
  position: relative;
  padding: 20px;
  font: 300 1rem / normal "Spartan", "Courier New", Courier, monospace;
}

.author-info > .banner-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.5;
  transition: opacity 400ms;
}

.author-info > .banner-info:hover {
  opacity: 1;
}

.author-info > .banner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("./img/tahitian_landscape_paul_gauguin.jpg") no-repeat fixed
    top/cover; /* License: Public domain */
  padding: 20px 0;
  opacity: 0.45;
  transition: opacity 1s ease;
}

.banner-info:hover + .banner {
  opacity: 0.8;
}

.author-info > .banner-title {
  display: inline;
  position: absolute;
  bottom: 5px;
  left: 20px;
  z-index: -1;
  font-size: 1rem;
  line-height: 1.5rem;
  background: #fdf0e3;
  opacity: 0;
  transition: opacity 400ms ease;
}

.banner-info:hover + .banner + .banner-title {
  opacity: 0.8;
}

.banner-info:hover + .banner + .banner-title + .info {
  opacity: 0;
}

.author-info .name {
  font-weight: inherit;
}

.author-info .position {
  font-size: 1.4rem;
  font-weight: 400;
}

.author-info .state {
  font-weight: 400;
}

.author-info .social {
  margin: 10px 0;
  text-align: center;
}

.author-info .social > .medium {
  margin: 0 2.5px;
  transition: background 200ms;
}

.author-info > .info {
  text-align: center;
  transition: opacity 400ms;
}

.banner-info:hover + .banner-title + .banner + .info {
  opacity: 0.05;
}

#avatar {
  width: 150px;
  height: 150px;
  padding: 0.5rem;
  border-radius: 50%;
  background: goldenrod;
  transition: all 400ms ease;
}

#avatar:hover {
  border-radius: 5%;
}

.header-navigation {
  overflow: hidden;
  text-align: center;
  background: #f1c5ae;
}

.header-navigation ul {
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 0;
  text-align: center;
}


.header-navigation li {
  display: inline;
  text-transform: uppercase;
}

.header-navigation li ~ li {
  margin-left: 2rem;
} 

.header-navigation a {
  display: inline;
}

.index-list {
  padding-left: 0rem;
}

.skills-list > li::before {
  padding-right: 12px;
  color: initial;
}

.skills-list > li.checkmark::before {
  content: "\2714";
}

#favorite-content li.newsletter::before {
  content: "📰";
}

.rated .rating::before {
  margin-left: 1rem;
}

.rated .rating::before {
  content: "⭐⭐";
  text-shadow: 0px 0px 8px goldenrod;
}

.rated .rating::after {
  content: "⭐⭐⭐";
  color: transparent;
  text-shadow: 0 0 1px darkgrey;
}

.rated .rating.three-stars::before {
  content: "⭐⭐⭐";
}

.rated .rating.three-stars::after {
  content: "⭐⭐";
}

.rated .rating.four-stars::before {
  content: "⭐⭐⭐⭐";
}

.rated .rating.four-stars::after {
  content: "⭐";
}

.rated > .five-stars::after {
  content: "";
}

.footer {
  padding: 30px 0;
  text-align: center;
}
